// 🌊 surfSum
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Archive', sans-serif;
}

// Default Light Mode
:root {
  --bg: #dce0e8;
  --seconday: #eff1f5;
  --text: #4c4f69;
  --blue: #1e66f5;
}

.dark {
  --bg: #11111b;
  --seconday: #1e1e2e;
  --text: #cdd6f4;
  --blue: #89b4fa;
}

@mixin flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  background-color: var(--bg);
  color: var(--text);
}

.skip {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  color: var(--text);

  &:focus {
    position: static;
    width: auto;
    height: auto;
  }
}

header {
  display: flex;
  flex-direction: row !important;
  justify-content: space-between !important;
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 3em;
  padding-right: 3em;
}

.home-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text);
  text-decoration: none;
  gap: 1rem;
  > svg {
    width: 50px;
    fill: var(--text);
  }
}

.darkMode-toggle {
  background: none;
  border: none;
}

.sun,
.moon {
  position: absolute;
  transform: translate(-100%, -50%);
  fill: var(--text);
  &:hover {
    cursor: pointer;
  }
}

.sun {
  opacity: 0;
  width: 60px;
}
.dark .sun {
  opacity: 1;
}
.moon {
  opacity: 1;
  width: 70px;
}
.dark .moon {
  opacity: 0;
}

p {
  font-size: 1.4rem;
  padding-left: 1em;
  padding-right: 1em;
}

.intro-text {
  text-align: center;
}

#display {
  @include flex-col;
  font-size: 1.4rem;
  gap: 1rem;
  padding: 1em;
}

form {
  @include flex-col;
  width: 100%;
  gap: 1em;
  padding-bottom: 5rem;
}
.p-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.p-label {
  transform: translateX(-15%);
  font-size: 1.2rem;
}
.types-box {
  display: flex;
  gap: 3rem;
}
.types-opts {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.form-button {
  width: 5rem;
  height: 1.5rem;
  align-self: center;
  background-color: var(--seconday);
  color: var(--text);
  border-radius: 5px;
}
.dark .form-button {
  background-color: var(--text);
  color: var(--bg);
}
.p-input {
  background-color: var(--seconday);
  color: var(--text);
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.dark .p-input {
  background-color: var(--text);
  color: var(--bg);
}
input[type="radio"] {
  accent-color: var(--blue);
  background-color: var(--text);
}
input[type="checkbox"] {
  accent-color: var(--blue);
  background-color: var(--text);
}

a {
  color: var(--blue);
}

.bottom-text {
  @include flex-col;
  text-align: center;
  gap: 1.5rem;
}

.container {
  @include flex-col;
  gap: 2em;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 575px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
