// 🌊 surfSum
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Archive', sans-serif;
}

/* Dark Mode */
$bg: #11111b;
$text: #cdd6f4;
$blue: #89b4fa;

/* Light Mode */
//$bg: #dce0e8;
//$text: #4c4f69;
//$blue: #1e66f5;

@mixin flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  background-color: $bg;
  color: $text;
}

.skip {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  color: $text;

  &:focus {
    position: static;
    width: auto;
    height: auto;
  }
}

header {
  display: flex;
  justify-content: space-between;
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 3em;
  padding-right: 3em;
}

.home-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $text;
  text-decoration: none;
  gap: 1rem;
  > svg {
    width: 50px;
    fill: $text;
  }
  /* Aligns bottom of text with SVG */
  //> h1 {
  //  transform: translateY(35%);
  //}
}

.darkMode-toggle {
  background: none;
  border: none;
  width: 50px;
  fill: $text;
}

p {
  font-size: 1.4rem;
}

#display {
  @include flex-col;
  font-size: 1.4rem;
  gap: 1rem;
  padding: 1em;
}

form {
  @include flex-col;
  width: 100%;
  gap: 1em;
  padding-bottom: 5rem;
}
.p-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.p-label {
  transform: translateX(-15%);
  font-size: 1.2rem;
}
.types-box {
  display: flex;
  gap: 3rem;
}
.types-opts {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.form-button {
  width: 5rem;
  height: 1.5rem;
  align-self: center;
  background-color: $text;
  color: $bg;
  border-radius: 5px;
}
input {
  background-color: $text;
  color: $bg;
  padding-left: 5px;
  padding-top: 5px;
}
input[type="radio"] {
  accent-color: $blue;
  background-color: $text;
}
input[type="checkbox"] {
  accent-color: $blue;
  background-color: $text;
}

a {
  color: $blue;
}

.container {
  @include flex-col;
  gap: 2em;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 575px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
